html,
body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

body {
    font-family: 'Arial';
    min-height: 100vmin;
}

nav {
    background-color: rgb(206, 238, 227);
    padding: 20px;
    border-bottom: 5px solid white;
    text-align: center;
    font-size: 2em;
    color: rgb(43, 117, 119);
}

main {
    margin: 30px 25%;
    padding: 50px;
    background-color: rgb(206, 238, 227);
    min-height: 50vh;
}

footer {
    text-align: center;
    background-color: rgb(206, 238, 227);
    padding: 20px;
    border-top: 5px solid white;
}

h1 {
    text-align: center;
}

h5 {
    color: #777;
}

input,
select {
    width: 100%;
    display: inline-block;
}

legend {
    font-weight: bold;
}

fieldset {
    margin: 20px 0;
}

input[type='submit'] {
    font-size: 1.5em;
}

input[type='radio'],
input[type='checkbox'],
label {
    width: auto;
}

.mini-image {
    height: auto;
    width: 100%;
}

.required-field {
    color: red;
}

.resultsBox {
    border-radius: 25px;
    border: .15em solid green;
    margin: 1em;
    padding: .5em;
}

/* .buttons {

} */

/* .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#submitButton {
    border-radius: 10px;
    margin: .15em;
    padding: .5em;
    background-color: rgb(53, 172, 53);
}

#submitButton:hover {
    background: linear-gradient(to bottom left, rgb(54, 196, 54), rgb(77, 241, 77));
  }

#resetButton {
    border-radius: 10px;
    margin: .15em;
    padding: .5em;
    background-color: rgb(206, 95, 95);
}

#resetButton:hover {
    background: linear-gradient(to bottom left, rgb(232, 78, 78), rgb(243, 44, 44));
  }

  #historyButton {
    border-radius: 10px;
    margin: .15em;
    padding: .5em;
    background-color: rgb(152, 152, 220);
    font-size: 1em;
  }

  #historyButton:hover {
    background: linear-gradient(to bottom left, rgb(141, 141, 239), rgb(76, 76, 185));
  }

  #newCharacter {
      border: 2px solid gray;

  }

  #removeButton {
    border-radius: 10px;
    margin: .1em;
    padding: .1em;
    width: 10em;
    background-color: rgb(206, 95, 95);
  }

  #removeButton:hover {
    background: linear-gradient(to bottom left, rgb(232, 78, 78), rgb(243, 44, 44));
  }

  #addButton {
    border-radius: 10px;
    margin: .1em;
    padding: .1em;
    width: 12em;
  }